# https://editorconfig.org

root = true # 文件配置位置,根目录

[*] # 所有文件适用
charset = utf-8 # 字符集utf-8
indent_style = space # 缩进风格(tab | space)
indent_size = 2 # 缩进大小
end_of_line = lf # 换行类型(lf | cr | crlf)
insert_final_newline = true # 去除行首的任意空白符
trim_trailing_whitespace = true # 始终在文件末尾插入一个新空白行

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
