@mixin merge-style($sideBarWidth) {
  $menuActiveText: #7a80b4;
  @media screen and (min-width: 150px) and (max-width: 420px) {
    .app-main-nofixed-header {
      overflow-y: hidden;
    }
  }
  @media screen and (min-width: 420px) {
    .app-main-nofixed-header {
      overflow: hidden;
    }
  }

  // 侧边栏容器
  .sidebar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $sideBarWidth !important;
    height: 100%;
    font-size: 0;
    //background: $menuBg;
    z-index: 1001;
    overflow: hidden;
    box-shadow: 0 0 1px #888;
    transition: width 0.28s;

    // 消除menu边线
    .el-menu {
      border: none;
      height: 100%;
      background-color: transparent !important;
    }
  }
  .scrollbar-wrapper {
    overflow-x: hidden !important;
  }

  // main容器
  .main-container {
    position: relative;
    height: 100vh;
    min-height: 100%;
    margin-left: $sideBarWidth;
    background: #f0f2f5;
    transition: margin-left 0.28s;
  }

  /* 菜单折叠 */
  .el-menu--collapse .el-menu .el-sub-menu {
    min-width: $sideBarWidth !important;
  }
  /* 有子菜单 */
  .el-menu--collapse .is-active.outer-most.el-sub-menu > .el-sub-menu__title::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    //background-color: $menuActiveBefore;
    content: '';
    clear: both;
    transition: all 0.2s ease-in-out;
    transform: translateY(0);
  }
  .el-menu--collapse .el-sub-menu__icon-arrow {
    display: none;
  }

  /* 无子菜单 */
  .el-menu--collapse .is-active.submenu-title-noDropdown.outer-most::before {
    position: absolute;
    top: 0;
    width: 3px;
    height: 100%;
    //background-color: $menuActiveBefore;
    content: '';
    clear: both;
    transition: all 0.2s ease-in-out;
    transform: translateY(0);
  }

  .el-menu--collapse .outer-most.el-sub-menu > .el-sub-menu__title::before,
  .el-menu--collapse .submenu-title-noDropdown.outer-most::before {
    content: '';
    display: block;
    position: absolute;
    height: 0;
    width: 3px;
    transform: translateY(-50%);
    top: 50%;
  }

  // vertical菜单下hideSidebar去除动画
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

/* 左侧菜单 */
body[layout='vertical'] {
  $sideBarWidth: 210px;
  @include merge-style($sideBarWidth);

  // 侧边栏(折叠)
  .el-menu--collapse {
    width: 54px;
  }
  // 隐藏侧边栏
  .hideSidebar {
    .fixed-header {
      width: calc(100% - 54px);
      transition: width 0.28s;
    }

    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;
      }
    }
  }

  /* 菜单折叠 */
  .el-menu--collapse {
    .el-sub-menu {
      & > .el-sub-menu__title {
        & > span {
          height: 0;
          width: 0;
          overflow: hidden;
          visibility: hidden;
          display: inline-block;
        }
      }
    }

    /* 有无子菜单 */
    .el-sub-menu__title,
    .el-menu-item [class^='el-icon'] {
      right: 5px;
    }

    .submenu-title-noDropdown {
      background: transparent !important;
    }
  }
}
